# ─── PostgreSQL ───────────────────────────
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=olist_db

# ─── Apache NiFi ──────────────────────────
NIFI_USER=admin
NIFI_PASSWORD=your_nifi_password_min_12_chars

# ─── Apache Airflow ───────────────────────
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=your_airflow_password
AIRFLOW_SECRET_KEY=your_random_secret_key_here
